@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Shojumaru", cursive;
}
.Hole_Container {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  background-image: url("/assets/Saviour.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 70vh;
}
.nav_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: white;
}
button {
  cursor: pointer;
}

.logo > img {
  width: 100px;
}
.logo-text {
  margin-top: -25px;
  font-family: "ZCOOL KuaiLe";
  font-size: 25px;
}

.nav {
  padding: 10px;
  border-radius: 30px;
}
.nav,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 100;
  background: #000;
  color: white;
}

li {
  cursor: pointer;
  list-style: none;
  padding: 5px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-contact > button {
  border: none;
  padding: 10px;
  border-radius: 30px;
  background: red;
  color: white;
}

.hero-title {
  margin-top: 6rem;
}

.hero-title > h2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  max-width: 900px;
}
.into_container {
  background: #000;
}

.intro_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  padding-left: 120px;
  color: white;
}
.intro {
  max-width: 400px;
}
.intro > h2 {
  font-size: 30px;
  font-weight: 700;
  color: red;
}
.intro > p {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
}
.intro > button {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: red;
  color: white;
}

.intro_img > img {
  width: 100%;
}

.road_map {
  background-image: url("assets/roadmap_background.png");
  width: 100%;
  height: 80vh;
  position: relative;
}
.road_map_container {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}
.road_map_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: red;
  font-weight: 700;
  font-size: large;
}

.road_map_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  border: 2px solid red;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.box > img {
  border-radius: 12px;
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.faq_container {
  background: #191818;
  padding: 50px;
}
.faq {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.faq_img {
  margin-top: 50px;
}
.faq_img > img {
  width: 400px;
}

.faq_content > h2 {
  color: red;
  text-align: center;
  padding-bottom: 50px;
}

.faq_questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq_box {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid red;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 15px;
  color: white;
  background: #0f0f0f;
}

.faq_box-4 {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid red;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 15px;
  color: white;
  background: #0f0f0f;
}

.footer {
  background: linear-gradient(#000, rgb(21, 1, 1));
  width: 100%;
  /* height: 80vh; */
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px;
}
.footer_container {
  padding: 20px;
}

.footer_logo {
  text-align: center;
}

.footer_logo > img {
  width: 300px;
}
.footer_logo > h2 {
  color: red;
  margin-top: -90px;
  font-weight: 700;
  font-size: 30px;
}

.footer_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
